.container{
	display:flex;
	flex-direction: row; /* row-reverse, column, column-reverse */
	justify-content: space-between;
}
.item{
	height: 100px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	line-height: 100px;
	border: 6px solid black;
	color: white;
}

.elem-a{
	background-color: blue;
}
.elem-b{
	background-color: brown;
}
.elem-c{
	background-color: purple;
}
.elem-d{
	/* 
	RGBA :
	1ere valeur = valeur de rouge (de 0 à 255)
	2eme valeur = valeur de vert (de 0 à 255)
	3eme valeur = valeur de bleu (de 0 à 255)
	4eme valeur = opacité / transparence (de 0 à 1)
	 */
	background-color: rgba(0,0,0,0.6);
}