.bleu{
	background-color: blue;
}
.vert{
	background-color: green;
}
.orange{
	background-color: orange;
}
header{
	background-color: silver;
	height: 120px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid;
}
header > div{
	height: 100%;
	width: 60%; /* ceci represente 60% de la largeur du parent (a defaut c'est 100%)*/
}

.haut{
	height: 80%; /* ceci represente 80% de la hauteur du parent */
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* la virgule signifie que j'applique à haut-gauche ET haut-droite */
.haut-gauche,
.haut-droite{
	height: 100%; /* ceci represente 100% de la hauteur du parent */
}
.haut-gauche{
	width: 60%; /* ceci represente 60% de la largeur du parent (a defaut c'est 100%)*/
}
.haut-droite{
	width: 30%;
}
nav{
	height: 20%;
	width: 100%;
}

.parent-du-cadre-milieu{
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.cadre-milieu{
	width: 60%;
	border: 2px dotted black;
}
.alignement-milieu{
	height: 400px;
	width: 100%;/* par rapport au parent */
	display: flex;
	justify-content: center;
}
.milieu-gauche{
	height: 70%;/* par rapport au parent */
	width: 50%;/* par rapport au parent */
}
.milieu-droite{
	height: 100%;/* par rapport au parent */
	width: 50%;/* par rapport au parent */
}

.alignement-bas{
	margin-top: 30px;
	height: 30px;
	width: 100%;/* par rapport au parent */
	display: flex;
	justify-content: space-between;
}
.bas-gauche{
	height: 100%;/* par rapport au parent */
	width: 70%;/* par rapport au parent */
}
.bas-droite{
	height: 100%;/* par rapport au parent */
	width: 20%;/* par rapport au parent */
}
footer{
	margin-top: 50px;
	background: silver;
	height: 100px;
	padding-top: 40px;
	display: flex;
	justify-content: center;
}
footer > div{
	border: 2px dotted black;
	height: 50px;
	width: 60%;
}