/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
1. Posez votre structure HTML de base
2. Posez le HTML du header. header>div>img
3. styliser notre image et header 
pour ressembler à la maquette
*/
header{
	background-color: black;
}
header div {
	background-color: black;
}
header img{
	display:block;
	width: 200px;
}
.menu-haut{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.item{
	height: 50px;
	width: 100px;
	line-height: 50px; 
	text-align: center;
	background-color: tomato;
}
.item a {
	color: white;
}
section.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
aside{
	width: 300px;
	height: 600px;
	background-color: silver;
}
article{
	width: 600px;
	height: 400px;
	background-color: purple;
}
footer{
	background-color: blue;
	height: 80px;
}
footer nav{
	text-align: center;
	height: 80px;
	line-height: 80px;
}
footer nav a {
	margin-left: 20px;
	font-size: 20px;
	color: white;
}
