body{
	background: url('http://longwallpapers.com/Desktop-Wallpaper/landscape-wallpapers-images-For-Desktop-Wallpaper.jpg');
	background-size: cover;
}

img{
	width: 200px;
}

.fond-image{
	height: 470px;
    background-image: url('bg-eagle.jpg');
    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;

    /* version raccourcie : */
    /* nous regroupons toutes les propriétés dans background */
    background: url('bg-eagle.jpg') no-repeat 50% 50%;
    background-size: cover;
}